* {
    margin: 0; padding: 0; box-sizing: border-box;
}

ul{list-style: none;}

a {text-decoration: none; color: #535353; display: block;}

img {display: block; border: 0;}

body {
    color: #535353;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}